{{ define "main" }}
<main role="main" class="container">
    <h1 class="mt-5">Links</h1>
    <p class="lead">
        These links are to content created by me. Some might be hosted outside
        servers under my complete control, but for the most part, I'm the content owner.
    </p>
    <ul>
        <li><a target="_blank" href="http://visit.danwolf.net"><i class="fas fa-external-link-alt mr-1"></i>Instructions for visiting</a><i class="fas fa-car ml-1"></i></li>
        <li><a target="_blank" href="https://stackoverflow.com/users/3523627/palu-macil"><i class="fas fa-external-link-alt mr-1"></i>Stackoverflow Profile</a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/dan-wolf"><i class="fas fa-external-link-alt mr-1"></i>LinkedIn Page</a></li>
        <li><a target="_blank" href="https://github.com/PaluMacil"><i class="fas fa-external-link-alt mr-1"></i>Github Projects</a></li>
        <ul>
            <li><a target="_blank" href="https://github.com/PaluMacil/misc/tree/master/git-LnL"><i class="fas fa-external-link-alt mr-1"></i>Git Lunch and Learn</a></li>
            <li><a target="_blank" href="https://github.com/PaluMacil/misc/blob/master/angular-electron/README.md"><i class="fas fa-external-link-alt mr-1"></i>Angular with Electron Example</a></li>
            <li><a target="_blank" href="https://github.com/PaluMacil/simpleServe"><i class="fas fa-external-link-alt mr-1"></i>Simple Server</a></li>
            <li><a target="_blank" href="https://github.com/PaluMacil/rhyvu"><i class="fas fa-external-link-alt mr-1"></i>Rhyvu CMS</a></li>
            <li><a target="_blank" href="https://github.com/PaluMacil/feud-game"><i class="fas fa-external-link-alt mr-1"></i>Feud Game</a></li>
        </ul>
    </ul>
    <p class="lead">
        These links are to content I find useful, but I am not the content owner.
    </p>
    <ul>
        <li><a target="_blank" href="https://stackoverflow.com/users/3523627/palu-macil"><i class="fas fa-external-link-alt mr-1"></i>Font Awesome 5 Icons</a></li>
        <li><a target="_blank" href="https://cdnjs.com/libraries/bootswatch"><i class="fas fa-external-link-alt mr-1"></i>Bootswatch CDN</a></li>
        <li><a target="_blank" href="https://getbootstrap.com/docs/4.0/getting-started/introduction/"><i class="fas fa-external-link-alt mr-1"></i>Bootstrap 4 docs</a></li>
        <li><a target="_blank" href="https://angular.io/docs"><i class="fas fa-external-link-alt mr-1"></i>Angular Docs</a></li>
        <li><a target="_blank" href="http://api.jquery.com/"><i class="fas fa-external-link-alt mr-1"></i>jQuery Docs</a></li>
        <li><a target="_blank" href="https://golang.org/pkg/"><i class="fas fa-external-link-alt mr-1"></i>Go Standard Library Docs</a></li>
        <li><a target="_blank" href="https://developer.mozilla.org/en-US/"><i class="fas fa-external-link-alt mr-1"></i>MDN</a></li>
        <li><a target="_blank" href="https://www.w3schools.com"><i class="fas fa-external-link-alt mr-1"></i>W3Schools</a></li>
        <ul>
            <li><a target="_blank" href="https://www.w3schools.com/js/default.asp"><i class="fas fa-external-link-alt mr-1"></i>Bootswatch CDN</a></li>
            <li><a target="_blank" href="https://www.w3schools.com/bootstrap/default.asp"><i class="fas fa-external-link-alt mr-1"></i>Bootstrap 3</a></li>
            <li><a target="_blank" href="https://www.w3schools.com/bootstrap4/default.asp"><i class="fas fa-external-link-alt mr-1"></i>Bootstrap 4</a></li>
            <li><a target="_blank" href="https://www.w3schools.com/sql/default.asp"><i class="fas fa-external-link-alt mr-1"></i>SQL (assumes MySQL variant)</a></li>
        </ul>
        <li><a target="_blank" href="https://certbot.eff.org"><i class="fas fa-external-link-alt mr-1"></i>Certbot</a></li>
        <li><a target="_blank" href="https://github.com/asdine/storm"><i class="fas fa-external-link-alt mr-1"></i>Storm (boltdb query wrapper)</a></li>
    </ul>
</main>
{{ end }}