<form [formGroup]="postForm" 
      (ngSubmit)="onSubmit()" 
      novalidate>
  <div class="form-group">
    <label for="topic">Title:</label>
    <input formControlName="title"
      type="text" class="form-control" #topic>
  </div>
  <div class="form-group">
    <label for="postMarkdown">Content (Markdown):</label>
    <textarea formControlName="postMarkdown"
      class="form-control" rows="20" #content>
    </textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>